@mixin bgImage($image) {
    background: url($image);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment:fixed ;
     background-blend-mode:overlay;
 }

@mixin flexCenter{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin flexSpaceBetween{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

@mixin flexVertical {
    display:flex;
    align-items: center;
}

@mixin VerticalAlign{
    align-items:center;
    text-align:center;
}


