//GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');


//FONT VARIABLES
$PrimaryFont:'Open Sans', sans-serif;
$SecondaryFont:'Roboto', sans-serif;


//COLOR VARIABLES
$PrimaryColor: #fac157;
$LightBlack:#423e3e;
$head:#1245b4;
$CartBack:#ebe2e2;

$white:#fcf7f7;
$black: #090909;

//box shadow
$box-shadow:1px 1px 0.4rem 1px lightgrey;



// Media Querie Break Points

// Small phones
$screen-tn-max: 450px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 596px;

// Small tablets (portrait view)
$screen-md-max: 768px;

// Tablets and small desktops
$screen-lg-max: 992px;





// Phone devices
@mixin tn {
  @media (max-width: #{$screen-tn-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}